# Normalize text files to LF
* text=auto eol=lf

# Images
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.ico binary

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary

# Other common binary files
*.pdf binary
*.zip binary